.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.border-content {
  border: 1px solid #000000;
  border-radius: 3px;
}

.isDisabled {
  pointer-events: none;
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.expand-height {
    min-height: 100%;
    height: 75vh;
}

.fill {
  height: 72vh;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}


.relative_bottom_right {
  right: 5%;
  bottom: 10%;
  position: absolute;
}


.mt-10 {
  margin-top: 10px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}