.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.border-content {
  border: 1px solid #000000;
  border-radius: 3px;
}

.isDisabled {
  pointer-events: none;
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.expand-height {
    min-height: 100%;
    height: 75vh;
}

.fill {
  height: 72vh;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}


.fill_admin {
  height: 67vh;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}


.button_add_product {
  width: 100%;
  font-size: 13px;
}

.button_product {
  width: auto;
}

.relative_bottom_right {
  right: 5%;
  bottom: 10%;
  position: absolute;
}

.verticalLine {
  border-left: 1px solid #000000;
  height: 100%;
}

.mt-10 {
  margin-top: 10px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}