<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">CalCount</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="ml-auto">
                    <div class="navbar-text">Zalogowano jako użytkownik</div>
                    <ul class="navbar-nav">
                        <li class="nav-item ml-auto"><a class="btn btn-primary" href="#">Wyloguj</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link" href="#">Produkty spożywcze</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Diety</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Zjedzone Posiłki</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Statystyki</a></li>
            </ul>
        </div>
    </div>
</body>
</html>