{% extends "layout_admin.html" %}
{% block head %}

{% endblock head %}
{% block content %}
<div class="container">
    <div class="row fill">
        <div class="col-2">
            <select class="form-select fill_admin" id="select_product" onchange="changeSelected({{products}})" size="3">
                <option selected value="{{ products[0]['id'] }}">{{ products[0]['name'] }}</option>
                {% for product in products[1:] %}
                <option value="{{ product['id'] }}">{{ product['name'] }}</option>
                {% endfor %}
            </select>
            <a href="#">
                <button class="btn btn-primary button_add_product">&#x2B Dodaj nowy produkt
                </button>
            </a>
        </div>
        <div class="verticalLine"></div>
        <div class="col-6">
            <div class="container pull-left">
                <h3 class="h1 mt-10 pb-10" id="product_name">
                    {{ products[0]['name'] }}
                </h3>

            </div>
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Wartość odżywcza produktu</th>
                    <th scope="col">w 100 gramach produktu</th>
                    <th scope="col">w 250 gramach produktu</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Wartość energetyczna</th>
                    <td id="calorie_100g">{{ products[0]['calorie'] }}kcal</td>
                    <td id="calorie_250g">{{ products[0]['calorie'] * 2.5}}kcal</td>
                </tr>
                <tr>
                    <th scope="row">Tłuszcz</th>
                    <td id="fat_100g">{{ products[0]['fat'] }}g</td>
                    <td id="fat_250g">{{ products[0]['fat'] * 2.5}}g</td>
                </tr>
                <tr>
                    <th scope="row">Węglowodany</th>
                    <td id="carbohydrate_100g">{{ products[0]['carbohydrate'] }}g</td>
                    <td id="carbohydrate_250g">{{ products[0]['carbohydrate'] * 2.5}}g</td>
                </tr>
                <tr>
                    <th scope="row">Białko</th>
                    <td id="protein_100g">{{ products[0]['protein'] }}g</td>
                    <td id="protein_250g">{{ products[0]['protein'] * 2.5}}g</td>
                </tr>
                </tbody>
            </table>
            <div class="row mt-30" >
                <div class="col-2"></div>
                <div class="col">
                    <button class="btn btn-primary button_add_product button_product">Edytuj produkt
                </button>
                </div>
                <div class="col">
                    <button class="btn btn-primary button_add_product button_product">Usuń produkt
                </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/products_script.js') }}"></script>
{% endblock content %}