# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Szymon\Desktop\przerwa ram pam pam\Semestr5\Projektowanie Oprogramowania\etapy\etap4\ProjectDiet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
